.loginButtonContainer {
	text-align: center;
	/*margin-top: 60%;*/
}

.loginButtonContainer button {
	margin-top: 65%;
}

.extraTextContainer {
	margin-top: 1em;
	text-align: center;
}

.loginImg {
	opacity: 0.5;
}